In [ ]:
#Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [ ]:
#python code

def T(n):
    if n == 0:
        return 5  # because given  T(0) = 5 as given
    else:
        return 3 * T(n - 1) + 12 * n

# Calculating T(2)
result = T(2)
print("T(2) =", result)

T(2) = 105

2. Given a recurrence relation, solve it using the substitution method:

a. T(n) = T(n-1) + c

To solve the recurrence relation


T(n)=T(nâˆ’1)+c using the substitution method,

In [ ]:
#code
def T(n, T_0, c):
    return T_0 + n * c

# Example usage
T_0 = 5  # Initial condition, for example T(0) = 5
c = 3    # Constant term
n = 10   # Value of n

# Calculating T(n)
result = T(n, T_0, c)
print(f"T({n}) =", result)

T(10) = 35

b. T(n) = 2T(n/2) + n

In [ ]:
#code

import math

def T(n):
    if n == 1:
        return 1  # or any base case value
    else:
        return 2 * T(n // 2) + n

# Example usage
n = 3
result = T(n)
print(f"T({n}) =", result)

T(3) = 5

c. T(n) = 2T(n/2) + c

In [ ]:
def T(n, c):
    return c * (2 * n - 1)

# Example usage
c = 3  # Example value for the constant c
n = 8
result = T(n, c)
print(f"T({n}) =", result)

T(8) = 45

d. T(n) = T(n/2) + c

In [ ]:
def T(n, c):
    if n == 1:
        return 0  # Base case: T(1) = 0 or any other base value
    else:
        return T(n // 2, c) + c

# Example usage
c = 3  # Example constant
n = 8
result = T(n, c)
print(f"T({n}) =", result)

T(8) = 9

3. Given a recurrence relation, solve it using the recursive tree approach:

a. T(n) = 2T(n-1) +1

In [ ]:
#code
def T(n):
    if n == 0:
        return 1  # Base case
    else:
        return 2 * T(n - 1) + 1

# Example usage
n = 4
result = T(n)
print(f"T({n}) =", result)

T(4) = 31

.b. T(n) = 2T(n/2) + n

In [ ]:
def T(n):
    if n == 1:
        return 1  # Base case: T(1) = c (assuming c = 1 for simplicity)
    else:
        return 2 * T(n // 2) + n

# Example usage
n = 8
result = T(n)
print(f"T({n}) =", result)

T(8) = 32